<style>
    .order {
        background: #DAE1F5;
        white-space: normal;
        width: 70%;
        flex-direction: column;
        vertical-align: top;
        border-radius: 10px;
        flex: 0 0 calc(25% - 30px);
        padding-left: 38px;
        padding-bottom: 20px;
        margin: 30px;
    }
    .info_form {
        background: #DAE1F5;
        white-space: normal;
        width: 70%;
        vertical-align: top;
        border-radius: 10px;
        flex: 0 0 calc(25% - 30px);
        padding-left: 38px;
        padding-bottom: 20px;
        margin: 30px;
    }
</style>
    
<form method="POST">
    {% csrf_token %}
    <div class="order">
        <p>Order № {{  order_id  }}</p>
        <hr>
        {%  for el in cars  %}
            <p>{{  el.car_type  }} -- {{  el.quantity  }}</p>
        {%  endfor  %}
    </div>
    <hr>
    <input class="input_button" type="submit" value="Pay">
</form>
<form method="GET">
    {% csrf_token %}
    <input class="input_button" type="submit" name="cancel" value="Cancel">
</form>